*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  height: 100vh;
}

main{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
}

/* .calculator div {
  background-color: skyblue;
} */


.calculator{
  display: grid;
  grid-template-areas: "display display display display"
                       "seven eight nine clear"
                       "four five six subtract"
                       "one two three add"
                       "zero multiply divide equals";

  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-template-rows: repeat(5, minmax(50px 1fr));
  gap: 5px;
  width: 50vw;
  height: 50vh;
}

/* Grid area calc */
.display {grid-area: display; background-color: gray;}
.clear {grid-area: clear; background-color: red;}
.equals {grid-area: equals; background-color: #71AE21;}
.add {grid-area: add;}
.subtract {grid-area: subtract;}
.divide {grid-area: divide;}
.multiply {grid-area: multiply;}

/* Grid area numbers */
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six;}
.one {grid-area: one;}
.two {grid-area: two;}
.tree {grid-area: tree;}
.zero {grid-area: zero;}

.number{
  background: #0165E7;
}

.add,
.subtract,
.divide,
.multiply{
  background: whitesmoke;
}
